/* Main styles of the project */
@import url('reset.css');
@import url('global.css');
@import url('button.css');
@import url('print.css');
/* @import url('temp.css'); */

body {
  display: grid;
  /* grid-template-rows: var(--header-height) 1fr var(--footer-height); */
  grid-template-rows: auto 1fr 45px min-content;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'main'
    'aside'
    'footer';

  overflow: hidden;
  padding-bottom: 25px;
  padding-top: 25px;
  /* border: 2px solid magenta; */
  background-color: var(--background-color);
}

header {
  grid-area: header;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  & button#update-button {
    display: none;
    background: none !important;
    color: var(--success-color);
    width: 80px;
    height: 60px;

    &.update {
      display: block;
    }

    & svg {
      width: 32px;
      height: 32px;
      fill: currentColor;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: main;
  width: 100%;
  max-width: 480px;
  height: 100%;
  padding: 15px 25px;

  align-self: center;
  justify-self: center;

  /* allows scroll on mobile landscape */
  /* overflow: scroll; */

  & .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 100%;

    & .card {
      /* width: 86mm; */
      /* height: 54mm; */
      width: 100%;

      aspect-ratio: 1.585 !important; /* 86mm x 54mm */
      border: 1px dashed #aaa;
      border-radius: 3.48mm;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      transition: box-shadow 0.3s ease-in-out;

      & .placeholder {
        font-size: 0.9em;
        color: #777;
        text-align: center;
        padding: 1em;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }

      & img {
        object-fit: cover;
        display: none;
      }
    }

    & .card:hover {
      /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
    }
  }

  & .button-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    max-width: 100%;
  }
}

input[type='file'] {
  display: none;
}

aside {
  grid-area: aside;
  align-self: center;
  justify-self: center;
  padding: 10px 25px;
  margin-bottom: 45px;

  /* border: 1px solid magenta; */
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    'footer-logo'
    'footer-version';

  align-items: start;
  justify-content: center;
  padding: 10px 25px;
  gap: 5px;

  border-top: 1px dotted rgb(188, 188, 188);

  width: 100%;
  max-width: 430px;
  align-self: center;
  justify-self: center;
  /* border: 1px solid magenta; */
  /* align-self: center; */
  /* justify-self: center; */

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  & svg.logo {
    grid-area: footer-logo;
    /* border: 1px solid #ccc; */
    height: 64px;
    width: 100%;

    align-self: end;
    justify-self: center;
  }

  & p {
    /* border: 1px solid #ccc; */
    /* grid-area: footer-content; */
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333;
    text-align: center;

    &:has(#webapp-version) {
      grid-area: footer-version;
      align-self: end;
      /* border: 1px solid brown; */
    }
    & small {
      display: block;
      color: #666;
      text-align: center;
      font-size: 10px;
      margin: 0;
      padding: 0;

      &:is(.donate, .print) {
        text-align: center;
        font-size: 9px;
        letter-spacing: 1px;
        /* margin: 2rem 1rem 1rem; */
      }

      &:is(.print) {
        display: none;
        text-align: left;
        & a {
          color: inherit;
          text-decoration: none;
          font-weight: lighter;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      &:is(#webapp-version) {
        display: block;
        font-size: 9px;
        color: #999;
      }
    }
  }
}
