@page {
  size: A4 portrait;
  margin: 0 !important;
  /* height: 297mm;
  max-height: 297mm;

  width: 210mm;
  max-width: 210mm; */

  &:not(:first) {
    display: none !important;
    visibility: hidden !important;
  }
}

@media print {
  html {
    height: 297mm !important;
    width: 210mm !important;
    /* height: 100vh !important; */
    /* width: 100vw !important; */

    max-height: 297mm !important;
    max-width: 210mm !important;
    min-height: 100%;
    min-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    --background-color: white !important;

    /* border: 1px solid cyan; */
  }
  body {
    height: 100% !important;
    width: 100% !important;

    /* overflow: visible; */
    /* background-color: var(--background-color); */
  }

  main {
    display: grid !important;
    grid-template-rows: 1fr !important;
    grid-template-columns: 1fr !important;
    grid-template-areas: 'main' !important;

    /* align-content: center !important; */
    /* justify-content: center !important; */
    justify-items: center !important;
    align-items: center !important;
    height: 100% !important;
    width: 100% !important;

    /* padding: 0 !important; */
    /* margin: 0 !important; */
    /* border: 1px solid magenta; */

    & .card-container {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
      gap: 12px !important;
      width: 100% !important;
      height: 100% !important;
    }
  }

  button,
  pre {
    display: none !important;
  }

  .card {
    width: 86mm !important;
    height: 54mm !important;

    border: 0 none !important;
  }

  footer {
    border: 0 none !important;
    width: 100% !important;
    max-width: 100% !important;
    /* padding: 0 !important; */
    /* margin: 0 !important; */
    & small#webapp-version {
      display: none !important;
    }
  }

  .button-group,
  small.donate {
    display: none !important;
  }

  #webapp-version {
    display: none !important;
  }

  small.print:not(.ios) {
    display: block !important;
    text-align: left;
    font-size: 9pt;
    /* border: 1px solid magenta; */
    color: rgb(124, 124, 124);
  }
}
